---
// src/pages/packscope/docs/index.astro
// Packscope docs overview page
import DocsLayout from '../../../components/DocsLayout.astro';
import { getEntry, render } from 'astro:content';

const doc = await getEntry('packscopeDocs', 'index');

if (!doc) {
  return Astro.redirect('/packscope');
}

const { Content } = await render(doc);
const title = doc.data.title;
const description = doc.data.description;
---

<DocsLayout title={title} description={description}>
  <h1>{title}</h1>
  <Content />
</DocsLayout>
